<div class="site-header">
  <div class="wrapper wrapper-header">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><span class="muted">~/Users/</span>{{ site.title | escape }}<b class="command_prompt"></b><b class="blinking_cursor">_</b></a>

    {% include author.html %}
  </div>
</div>


<!-- <span class="social_links">
    {% for link in site.dash.social_links %}<a class="color-{{ link.color }}-hover" href="{{ link.url }}"><i class="fab fa-{{ link.icon }}"></i></a>{% endfor %}
</span> -->

