{% if page.path == "index.html" %}
{% assign lihome = "active" %}
{% endif %}

{% if page.path == "resume.html" || page.path == "resume" %}
{% assign liresume = "active" %}
{% endif %}

{% if page.path == "blog/index.html" || page.path == "blog" %}
{% assign liblog = "active" %}
{% endif %}




<ul>
    <!-- <li class="{{lihome}}"> <i class="fab fa-readme white"></i> README.md</li> -->
    <li class="{{lihome}}"> <a href="/"> <i class="fab fa-readme white "></i>README.md </a></li>
    <li class="{{liblog}}"> <a href="/blog"> <i class="fa fa-keyboard white "></i>From my keyboard </a></li>
    <li class="{{liresume}}"> <a href="/resume"> <i class="fa fa-file white"></i> Resume/CV <a style="float:right; color: white" href="/assets/resume.pdf"><i class="fas fa-external-link-alt"></i></a> </a></li>
    <!-- <li> <i class="fa fa-terminal white"></i> About me </li> -->
</ul>
